@charset "UTF-08";

:root{
    --cor1: #3D8DE0;
    --cor2: #E0483D;
    --cor3: #CEE03D;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    display: flex;
    direction: row;
    align-items: center;
    justify-content: space-around;
}

.adivinhacao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagens {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}

.controle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

img {
    height: 500px;
    max-width: 100%;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--cor1);
    color: var(black);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Estiliza a classe para que o texto começe invisível */
.nome-animal {
    color: black;
    background-color: white;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    display: none;
}

button:hover {
    background-color: var(--cor2);
}
